<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  {{>navbar}}
    <h1>Kaam chalu hai baad mein aana Ok, Good to see you</h1>
</body>
</html>