<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{>navbar}}

      <div class="signin-up">
        <button class="sign-reg"><a href="/register">Sign up</a></button>
        <button class="login-in"><a href="/login">Login</a></button>
    </div>


    <div id="home">
        <img src="imgs/" alt="">
        <h1 class="secondary-heading">Welcome to The PS_GAMING Center</h1>
        <p id="para">Play Best Action Games!</p>
        <a href="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Join Our Club
        </a>
        <!-- <div class="center">
            <div class="outer button">
                <button>Join Our Club</button>
                <span></span>
                <span></span>
            </div>
        </div> -->

    </div>
</body>
</html>