<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <div class="signin-up">
        <button class="sign-reg"><a href="/register">Sign up</a></button>
        <button class="login-in"><a href="/login">Login</a></button>
    </div>


    <div id="home">
        <h1 class="secondary-heading">Welcome to The PS_GAMING Center</h1>
        <p id="para">Play Best Action Games!</p>
        <a href="/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Join Our Club
        </a>
        <!-- <div class="center">
            <div class="outer button">
                <button>Join Our Club</button>
                <span></span>
                <span></span>
            </div>
        </div> -->

    </div>

    <header class="service-box">
        <h2 class="primaryH center">Our Best Action Games</h2>
        <div id="services">
            <div class="box" id="tekken">
                <img src="css/tekken.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=kKLCwDg2JLA"><button>TEKKEN 7</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">TEKKEN 7</h3> -->
            </div>
            <div class="box" id="cod">
                <img src="css/call of duty.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=0E44DClsX5Q"> <button>Call of duty:Warzone</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">Call of Duty:Modern warfarezone </h3> -->
            </div>
            <div class="box" id="fifa">
                <img src="css/fifa.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=zX0AV6yxyrQ"><button>FIFA 19</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">FIFA 19</h3> -->
            </div>
            <div class="box" id="gta">
                <img src="css/gta.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=hvoD7ehZPcM"> <button>GTA 5</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="box" id="cry5">
                <img src="css/cry5.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=Kdaoe4hbMso"> <button>FAR CRY 5</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="box" id="mortal">
                <img src="css/mortal.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=UoTams2yc0s"> <button>MORTAL KOMBACT</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">MORTAL KOMBACT 11</h3> -->
            </div>
            <div class="box" id="gears5">
                <img src="css/gears 5.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=SEpWlFfpEkU"><button>GEARS 5</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">GEARS 5</h3> -->
            </div>
            <div class="box" id="batman">
                <img src="css/batman.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=wsf78BS9VE0"><button>BATMAN</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">BATMAN</h3> -->
            </div>
            <div class="box" id="pubg">
                <img src="css/pubg.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=_LTiEXMc5J0"><button>PUBG</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">PUBG</h3> -->
            </div>
            <div class="box" id="resident">
                <img src="css/resident.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                        <a href="https://www.youtube.com/watch?v=arEdruKxrQ8"><button>RESIDENT EVIL 8:VILLAGE</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">RESIDENT EVIL 8:VILLAGE</h3> -->
            </div>
            <div class="box" id="assassin">
                <img src="css/assassin.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=ssrNcwxALS4"> <button>ASSASSIN CREED:VALHALA</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">HITMAN</h3> -->
            </div>
            <div class="box" id="dog2">
                <img src="css/dog2.jpg" alt="">
                <div class="center">
                    <div class="outer button">
                       <a href="https://www.youtube.com/watch?v=PnIfMaCMsjU"> <button>WATCH DOG 2</button></a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- <h3 class="secondaryH center">WATCH DOG 2</h3> -->
            </div>
        </div>
    </header>

    <footer>
        <div class="center">
            Copyright &copy; www.PS_GAMING.com All Rights Reserved!
        </div>
    </footer>
</body>

</html>