<div id="navbar">
  <div class="logo">
    <img class="bg" src="css/logo.jpg" alt="">
    
  </div>
  <ul>
    <li class="item"><a href="/">Home</a></li>
    <li class="item"><a href="" >Latest Collection</a></li>
    <li class="item"><a href="#" >Updates</a></li>
    <li class="item"><a href="/about" >About us</a></li>
    <li class="item"><a href="/login" >Login</a></li>
  </ul>
  <!-- <button class="register"><a href="" >Signup</a></button>
    <button class="login1"><a href="" >Login</a></button> -->
  </div>